In [ ]:
import psycopg2
import csv
from tabulate import tabulate

conn = psycopg2.connect(
    host = "localhost", dbname = "lab10", user = "postgres",
    password = "damelyaa21", port = 5432
)

cur = conn.cursor()

cur.execute("""
            CREATE TABLE IF NOT EXISTS phonebook (
            user_id SERIAL PRIMARY KEY,
            name VARCHAR(255) NOT NULL,
            surname VARCHAR(255) NOT NULL,
            phone VARCHAR(255) NOT NULL
            )
""")
conn.commit()

def insert_console():
    name = input("Name: ")
    surname = input("Surname: ")
    phone = input("Phone: ")
    cur.execute("INSERT INTO phonebook (name, surname, phone) VALUES (%s, %s, %s)", (name, surname, phone))
    conn.commit()



def insert_csv():
    path = input("Enter CSV file path: ")
    with open(path, 'r') as f:
        reader = csv.reader(f)
        next(reader)
        for row in reader:
            cur.execute("INSERT INTO phonebook (name, surname, phone) VALUES (%s, %s, %s)", tuple(row))
    conn.commit()

def update_column(column):
    old_value = input(f"Enter current {column}: ")
    new_value = input(f"Enter new {column}: ")
    cur.execute(f"UPDATE phonebook SET {column} = %s WHERE {column} = %s", (new_value, old_value))
    conn.commit



def delete_user():
    field = input("Delete by (id/name/phone): ").lower()
    
    if field not in ["id", "name", "phone"]:
        print("Invalid input. Choose 'id', 'name' or 'phone'.")
        return

    value = input(f"Enter {field} to delete: ")

    if field == "id":
        cur.execute("DELETE FROM phonebook WHERE user_id = %s", (value,))
    else:
        cur.execute(f"DELETE FROM phonebook WHERE {field} = %s", (value,))

    conn.commit()
    print("User deleted if match was found.")

def query_by_column(column):
    value = input(f"Enter {column}: ")
    if column == "id": 
        column = "user_id"
    cur.execute(f"SELECT * FROM phonebook WHERE {column} = %s", (value,))
    rows = cur.fetchall()
    print(tabulate(rows, headers=["ID", "Name", "Surname", "Phone"]))

def show_all():
    cur.execute("SELECT * FROM phonebook")
    rows = cur.fetchall()
    print(tabulate(rows, headers = ["ID", "Name", "Surname", "Phone"], tablefmt="fancy_grid"))
    
def search_by_pattern():
    pattern = input("Enter pattern: ")
    cur.execute("SELECT * FROM phonebook WHERE name ILIKE %s OR surname ILIKE %s OR phone ILIKE %s",
                (f'%{pattern}%', f'%{pattern}%', f'%{pattern}%'))
    rows = cur.fetchall()
    print(tabulate(rows, headers=["ID", "Name", "Surname", "Phone"], tablefmt="grid"))


def menu():
    while True:
        print("""
        === MENU ===
        [i] Insert (console ot csv)
        [u] Update
        [d] Delete
        [q] Query
        [s] Show all
        [p] Pattern search
        [f] Finish
        """)
        cmd = input("Choose command: ").lower()

        if cmd == "i":
            opt = input('Type "csv" to upload file or "con" to enter manually: ')
            if opt == "con": insert_console()
            elif opt == "csv": insert_csv()

        elif cmd == "u":
            col = input("Which column to update (name/surname/phone): ")
            if col in ["name", "surname", "phone"]:
                update_column(col)

        elif cmd == "d":
            delete_user()

        elif cmd == "q":
            col = input("Search by (id/name/surname/phone): ")
            if col in ["id", "name", "surname", "phone"]:
                query_by_column(col)

        elif cmd == "s":
            show_all()

        elif cmd == "p":
            search_by_pattern()

        elif cmd == "f":
            break

menu()

cur.close()
conn.close()

        === MENU ===
        [i] Insert (console ot csv)
        [u] Update
        [d] Delete
        [q] Query
        [s] Show all
        [p] Pattern search
        [f] Finish

Choose command:  u
Which column to update (name/surname/phone):  Zhanna Bakanova 87751084922

        === MENU ===
        [i] Insert (console ot csv)
        [u] Update
        [d] Delete
        [q] Query
        [s] Show all
        [p] Pattern search
        [f] Finish

Choose command:  s

╒══════╤════════╤═══════════╤══════════════╕
│   ID │ Name   │ Surname   │        Phone │
╞══════╪════════╪═══════════╪══════════════╡
│    1 │ Dameli │ Zhambyl   │  87751084922 │
├──────┼────────┼───────────┼──────────────┤
│    2 │ Aida   │ Zhambyl   │  87769605346 │
├──────┼────────┼───────────┼──────────────┤
│    3 │ Aziza  │ Zhambyl   │ 879056753322 │
├──────┼────────┼───────────┼──────────────┤
│    4 │ Dameli │ Zhambyl   │  87751084922 │
╘══════╧════════╧═══════════╧══════════════╛

        === MENU ===
        [i] Insert (console ot csv)
        [u] Update
        [d] Delete
        [q] Query
        [s] Show all
        [p] Pattern search
        [f] Finish

Choose command:  u
Which column to update (name/surname/phone):  Aida 87751084922

        === MENU ===
        [i] Insert (console ot csv)
        [u] Update
        [d] Delete
        [q] Query
        [s] Show all
        [p] Pattern search
        [f] Finish

Choose command:  s

╒══════╤════════╤═══════════╤══════════════╕
│   ID │ Name   │ Surname   │        Phone │
╞══════╪════════╪═══════════╪══════════════╡
│    1 │ Dameli │ Zhambyl   │  87751084922 │
├──────┼────────┼───────────┼──────────────┤
│    2 │ Aida   │ Zhambyl   │  87769605346 │
├──────┼────────┼───────────┼──────────────┤
│    3 │ Aziza  │ Zhambyl   │ 879056753322 │
├──────┼────────┼───────────┼──────────────┤
│    4 │ Dameli │ Zhambyl   │  87751084922 │
╘══════╧════════╧═══════════╧══════════════╛

        === MENU ===
        [i] Insert (console ot csv)
        [u] Update
        [d] Delete
        [q] Query
        [s] Show all
        [p] Pattern search
        [f] Finish

Choose command:  u
Which column to update (name/surname/phone):  name
Enter current name:  Dameli
Enter new name:  Zhanna

        === MENU ===
        [i] Insert (console ot csv)
        [u] Update
        [d] Delete
        [q] Query
        [s] Show all
        [p] Pattern search
        [f] Finish

Choose command:  s

╒══════╤════════╤═══════════╤══════════════╕
│   ID │ Name   │ Surname   │        Phone │
╞══════╪════════╪═══════════╪══════════════╡
│    2 │ Aida   │ Zhambyl   │  87769605346 │
├──────┼────────┼───────────┼──────────────┤
│    3 │ Aziza  │ Zhambyl   │ 879056753322 │
├──────┼────────┼───────────┼──────────────┤
│    1 │ Zhanna │ Zhambyl   │  87751084922 │
├──────┼────────┼───────────┼──────────────┤
│    4 │ Zhanna │ Zhambyl   │  87751084922 │
╘══════╧════════╧═══════════╧══════════════╛

        === MENU ===
        [i] Insert (console ot csv)
        [u] Update
        [d] Delete
        [q] Query
        [s] Show all
        [p] Pattern search
        [f] Finish